<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Generated Business Plan</title>
        <link href="../static/css/generated.css" rel="stylesheet">
    </head>
    <body>
        {% for entry in responses %}
        <h2>{{ entry.section }}</h2>
        <p>{{ entry.response }}</p>
        <hr>
        {% endfor %}
        <div class="row">
          <div>
            <form method="post" action="{% url 'export_to_pdf' %}" style="margin-top: 20px;">
              {% csrf_token %}
              <button type="submit">Export to PDF</button>
          </form>
          </div>
          <br>
          <div>
            <button id="copyButton">Copy to Clipboard</button>
          </div>
        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/clipboard.js/2.0.8/clipboard.min.js"></script>
        <script src="/static/copy.js"></script>
        <script type="text/javascript">
            (function(d, t) {
                var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
                v.onload = function() {
                  window.voiceflow.chat.load({
                    verify: { projectID: '6553236550d94e00072d114c' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: 'production'
                  });
                }
                v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
            })(document, 'script');
          </script>
    </body>
</html>